body {
  font-family: "Roboto", "Nunito", "Poppins", sans-serif;
  width: 1250px;
  background-color: #000;
}

/* all headings Poppins
all text Nunito
all buttons Roboto */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Nunito", "Roboto", sans-serif;
}

p,
span,
a {
  font-family: "Nunito", "Roboto", "Poppins", sans-serif;
}

button {
  font-family: "Roboto", "Nunito", "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base font sizes */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
span {
  font-size: 1rem;
}
a {
  font-size: 1rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.fp-site-logo {
  max-height: 100%;
  min-width: 150px;
  object-fit: scale-down;
  height: 100%;
  display: block;
}

/* Main container styling */
#fp-main-container {
  /* max-width: 1200px; */
  margin: 0 auto; /* Auto margins for horizontal centering */
  padding: 5px; /* Optional: Add padding inside the container */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Ensure content is centered and responsive */
@media screen and (max-width: 1200px) {
  .fp-main-container {
    width: 100%; /* Full width on smaller screens */
  }
}

.remove-social {
  cursor: pointer;
}

.header-menu .menu-item-has-children > a::after {
  content: "▼"; /* Unicode for the down arrow */
  font-size: 12px;
  margin-left: 5px;
}

.header-menu-2 .menu-item-has-children > a::after {
  content: "▼"; /* Unicode for the down arrow */
  font-size: 12px;
  margin-left: 5px;
}

.head-main-nav {
  justify-content: safe end;
  align-items: safe center;
  height: 70px;
}

.head-main-nav .menu-header-container {
  max-width: 80%;
}

.head-main-nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.head-main-nav ul li {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: all 0.3s;
  color: gray;
  text-wrap: nowrap;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}

.head-main-nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  /* background-color: darkslateblue; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.head-main-nav ul li:hover ul {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.head-main-nav ul li ul li {
  padding: 0.5rem 1rem;
  color: gray;
  background-color: rgb(17, 24, 40);
  white-space: nowrap;
}

.head-main-nav ul li ul li:hover {
  background-color: rgb(56, 65, 82);
  color: white;
}

.menu-header-container {
  padding: 0rem 0.2rem;
}

#header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  flex: 1;
  min-height: 70px;
  max-height: 70px;
}

#menu-secondary-content {
  position: absolute;
  width: 100%;
  background-color: rgb(17 24 39);
  padding: 0.5rem 0.3rem;
  margin-top: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  z-index: 10;
  min-width: 300px;
  width: auto;
  max-width: 350px;
  max-height: 450px;
  overflow-y: auto;
  top: 0;
  left: 0;
}

#header-menu-2 {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  align-items: start;
  gap: 1px;
}

#header-menu-2 .menu-item .sub-menu {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  margin-top: 10px;
}

/* #header-menu .menu-item > a,
#header-menu-2 .menu-item > a {
  color: rgb(162, 160, 160);
} */

/* .head-main-nav ul li:hover {
  background-color: darkgray;
  color: black;
} */

#header-menu-2 .menu-item:hover,
#header-menu .menu-item:hover {
  background-color: rgb(31 41 55);
  color: black;
}

#header-menu-2 .menu-item:hover > a,
#header-menu .menu-item:hover > a {
  color: white;
}

#header-menu-2 .menu-item:hover .sub-menu li {
  color: rgb(120, 118, 118);
}

#header-menu-2 .menu-item .sub-menu li {
  color: rgb(120, 118, 118);
}

#header-menu-2 .menu-item .sub-menu li:hover {
  background-color: rgb(17 24 39);
  color: rgb(243 244 246);
}

#header-menu-2 li {
  display: block;
  width: 100%;
  padding: 0.7rem 0.5rem;
  transition: all 0.3s;
  color: rgb(209 213 219);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
  max-height: none;
}

/* #header-menu-2 li a:hover {
  color: #fff;
} */

.header-menu-2 li ul {
  display: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: none;
  overflow: visible;
  position: relative;
}

.header-menu-2 li.active {
  background-color: rgb(31 41 55);
}

.header-menu-2 li.active ul {
  display: block;
  background-color: #1f2937;
  overflow: visible;
  max-height: none;
}

#header-menu-2 .menu-item ul li:hover {
  background-color: transparent; /* Or any other color you prefer */
  color: inherit; /* Keep the text color unchanged */
}

#menu-mobile-primary-content {
  position: absolute;
  background-color: #18202b;
  padding: 0.5rem;
  /* margin-top: 2rem; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  z-index: 10;
  min-width: 65vw;
  width: auto;
  max-width: 350px;
  max-height: 0px;
  overflow-y: auto;
  /* top: 0; */
  left: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.current-menu-item {
  background-color: rgba(57, 55, 55, 0.5);
}

.current-menu-item a {
  color: #dedbdb;
}

.social-icons a:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

#mobile-search-container {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden; /* Start as non-interactable */
}

#mobile-search-container:not(.hidden) {
  opacity: 1;
  visibility: visible; /* Make interactable when visible */
}

.results {
  padding: 0.5rem 0rem;
}

.search-result-item {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
}

.search-result-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.search-result-item i {
  margin-right: 0.3rem;
}

.search-result-item-details {
  display: flex;
  flex: 1 1 1px;
  flex-direction: column;
  gap: 0.2rem;
  text-align: left;
  padding: 0.1rem 0.1rem 0.1rem 0.5rem;
  justify-content: center;
  align-items: flex-start;
}

.search-result-item-details * {
  font-family: "Nunito", "Roboto", "Poppins", sans-serif;
}

.search-result-item-title {
  font-size: 1rem;
  font-weight: 600;

  line-height: 1.5rem;
  color: #fff;
  text-align: left;
  width: 100%;
  max-height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.search-result-item-details-meta * {
  color: #ced1d4;
  font-weight: 500;
}

.search-result-item-meta-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lds-ellipsis {
  /* change color here */
  color: rgb(255, 255, 255);
}
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 9.33333px;
  height: 9.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.share_toggle_button {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.share_toggle_button ul li a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 1rem 1.1rem;
}

.share_toggle_button ul li a.share_btn {
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.share_toggle_button ul li a.share_btn .text {
  display: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: #c73a5d;
  margin-right: 15px;
  opacity: 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.share_toggle_button ul li a.share_btn .icon {
  min-width: 50px;
  min-height: 50px;
  background: #c73a5d;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: all 1s ease;
  aspect-ratio: 1;
}

.share_toggle_button ul li .share_btn .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.8rem;
  transform: translate(-50%, -50%);
}

.share_toggle_button .socialShareItem_bottom a .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}

.share_toggle_button ul li a.sm .icon {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.share_toggle_button ul li a .text {
  letter-spacing: 2px;
}

.share_toggle_button.active .socialShareItem_bottom a {
  height: 55px;
}

.share_toggle_button.active {
  height: auto;
  min-width: 250px;
  width: auto;
}

.share_toggle_button.active ul li a.share_btn .icon {
  transform: rotate(45deg);
  min-width: 35px;
  min-height: 35px;
  /* font-size: 0.75rem; */
}

.share_toggle_button.active ul li a.share_btn .icon i {
  font-size: 1rem;
}

.share_toggle_button.active ul li a.share_btn .text {
  opacity: 1;
  display: block;
}

.share_toggle_button ul li a.sm {
  visibility: hidden;
}

.share_toggle_button.active ul li a.sm {
  visibility: visible;
}

/* .socialShareItem_bottom {
  text-transform: uppercase;
} */

.socialShareItem_bottom .sStext {
  color: #fff;
}

.socialShareItem_bottom:hover {
  background-color: rgb(55, 65, 81);
}

.social-icons i {
	border-radius: 50%;
	aspect-ratio: 1;
	color: #fff;
	min-width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
